Question-1

In [109]:
import pandas as pd
belize_listings = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings)

In [110]:
belize_df.head(4)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331

In [88]:
belize_df.groupby('neighbourhood').count()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Belize Islands,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,864,864,1303,1303
Belize Mainland,271,271,271,271,271,271,271,271,271,271,271,174,174,271,271
Cayo,505,505,505,505,505,505,505,505,505,505,505,330,330,505,505
Corozal,65,65,65,65,65,65,65,65,65,65,65,33,33,65,65
Orange Walk,28,28,28,28,28,28,28,28,28,28,28,16,16,28,28
Stann Creek Islands,12,12,12,12,12,12,12,12,12,12,12,5,5,12,12
Stann Creek Mainland,565,565,565,565,565,565,565,565,565,565,565,362,362,565,565
Toledo Mainland,47,47,47,47,47,47,47,47,47,47,47,26,26,47,47

In [99]:
belize_df.groupby('neighbourhood')['price'].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [97]:
belize_df.groupby('neighbourhood')['number_of_reviews'].count()

neighbourhood
Belize Islands          1303
Belize Mainland          271
Cayo                     505
Corozal                   65
Orange Walk               28
Stann Creek Islands       12
Stann Creek Mainland     565
Toledo Mainland           47
Name: number_of_reviews, dtype: int64

In [95]:
belize_df.groupby('neighbourhood')['availability_365'].max()

neighbourhood
Belize Islands          365
Belize Mainland         365
Cayo                    365
Corozal                 365
Orange Walk             365
Stann Creek Islands     365
Stann Creek Mainland    365
Toledo Mainland         365
Name: availability_365, dtype: int64

In [108]:
belize_groupby = belize_df.groupby(['neighbourhood','price', 'availability_365', 'number_of_reviews']).count()
belize_groupby

                                                          id  name  host_id  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                  1     1        1
                36    211              87                  1     1        1
                44    358              89                  1     1        1
                46    179              126                 1     1        1
                50    0                72                  1     1        1
...                                                       ..   ...      ...
Toledo Mainland 605   333              0                   1     1        1
                      345              0                   1     1        1
                750   90               0                   1     1        1
                968   318              0                   1     1        1
                1121  269              0                   1     1        1

                                                          host_name  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                         1
                36    211              87                         1
                44    358              89                         1
                46    179              126                        1
                50    0                72                         1
...                                                             ...
Toledo Mainland 605   333              0                          1
                      345              0                          1
                750   90               0                          1
                968   318              0                          1
                1121  269              0                          1

                                                          neighbourhood_group  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                                   1
                36    211              87                                   1
                44    358              89                                   1
                46    179              126                                  1
                50    0                72                                   1
...                                                                       ...
Toledo Mainland 605   333              0                                    1
                      345              0                                    1
                750   90               0                                    1
                968   318              0                                    1
                1121  269              0                                    1

                                                          latitude  longitude  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                        1          1
                36    211              87                        1          1
                44    358              89                        1          1
                46    179              126                       1          1
                50    0                72                        1          1
...                                                            ...        ...
Toledo Mainland 605   333              0                         1          1
                      345              0                         1          1
                750   90               0                         1          1
                968   318              0                         1          1
                1121  269              0                         1          1

                                                          room_type  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                         1
                36    211              87                         1
                44    358              89                         1
                46    179              126                        1
                50    0                72                         1
...                                                             ...
Toledo Mainland 605   333              0                          1
                      345              0                          1
                750   90               0                          1
                968   318              0                          1
                1121  269              0                          1

                                                          minimum_nights  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                              1
                36    211              87                              1
                44    358              89                              1
                46    179              126                             1
                50    0                72                              1
...                                                                  ...
Toledo Mainland 605   333              0                               1
                      345              0                               1
                750   90               0                               1
                968   318              0                               1
                1121  269              0                               1

                                                          last_review  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                           1
                36    211              87                           1
                44    358              89                           1
                46    179              126                          1
                50    0                72                           1
...                                                               ...
Toledo Mainland 605   333              0                            0
                      345              0                            0
                750   90               0                            0
                968   318              0                            0
                1121  269              0                            0

                                                          reviews_per_month  \
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                                 1
                36    211              87                                 1
                44    358              89                                 1
                46    179              126                                1
                50    0                72                                 1
...                                                                     ...
Toledo Mainland 605   333              0                                  0
                      345              0                                  0
                750   90               0                                  0
                968   318              0                                  0
                1121  269              0                                  0

                                                          calculated_host_listings_count
neighbourhood   price availability_365 number_of_reviews
Belize Islands  30    181              51                                              1
                36    211              87                                              1
                44    358              89                                              1
                46    179              126                                             1
                50    0                72                                              1
...                                                                                  ...
Toledo Mainland 605   333              0                                               1
                      345              0                                               1
                750   90               0                                               1
                968   318              0                                               1
                1121  269              0                                               1

[2603 rows x 12 columns]

Question-2

In [111]:
original_list = [2, 4, 6, 8, 10, 12, 14]

new_list = [i ** 2 for i in original_list]

print(new_list)

[4, 16, 36, 64, 100, 144, 196]

Question-3

In [112]:
original_list = [2, 4, 6, 8, 10, 12, 14]

new_list = [i * (2/3) for i in original_list]

print(new_list)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666666, 8.0, 9.333333333333332]

Question-4

In [113]:
dict = {"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400, "peaches": 13600, "Oranges": 7}

all_lower = [fruits.lower() for fruits in dict]

print(all_lower)

['apples', 'cranberries', 'pears', 'cherries', 'plums', 'peaches', 'oranges']